# 튜플, 딕셔너리

In [1]:
#리스트 표기법
a=[]
a1=list()

#튜플 표기법
b=()
b1=tuple()

In [2]:
x, y =10

TypeError: cannot unpack non-iterable int object

In [53]:
#딕셔너리도 선언과 동시에 딕셔너리객체로 객체화된다.
a= {'name' : 'pay', 'phone' : '01020253712', 'birth':'1993'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

# 제어문

In [54]:
#다른 언어는 a.keys()의 인덱스로 value를 받는데 python은 값으로 받는다. R도 마찬가지!
#오히려 인덱스를 읽어오고 싶으면 다른 함수를 사용해서 불러야한다.
#dic_keys는 다른 라이브러리와 호환이 안될 수 있다. 호환이 거의 다 되는 자료구조는 리스트!!!

for value in a.keys():
    print(value)

name
phone
birth

In [52]:
money = True
if money :
    print("택시를 타고 가라")
else :
    print("걸어 가라")

택시를 타고 가라

In [14]:
#다른 라이브러리와 호환이 잘될 수 있도록 리스트로 변환!
#다행이 dict_keys , dict_items의 객체형 오브젝트는 list와 호환이 된다.
"dict_keys(['name', 'phone', 'birth'])    와   ['name', 'phone', 'birth']은 다르다.!!!"
list(a.keys())

['name', 'phone', 'birth']

In [16]:
a.clear()
a

{}

In [19]:
'name' in a

True

# 집합(set)

In [26]:
s2 =set("HELLO")
s2

{'E', 'H', 'L', 'O'}

In [30]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8])

print(s1&s2)
print(s1.intersection(s2))

print(s1|s2)
print(s1.union(s2))

print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}

In [31]:
#순서가 없는 집합형에는 append()는 어울리지 않는다. add()

# 논리

In [33]:
a= True
b= False

## 논리도 연산가능하다!! _불 대수

In [38]:
a= [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [42]:
(a,b) = 'python', 'life'
a
b

'life'

In [46]:
c,d = ('python','life')
c
d

'life'

In [79]:
z = 1,2,3,4,6
type(z)

tuple

# 제어문

In [55]:
money = 2000
card = True

if money>=3000 or card:
    print("택시를 타고 가라")
else : 
    print("걸어가라")

택시를 타고 가라

In [56]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket :
    print("택시를 타고 가라")
else :
    print("걸어가라")

택시를 타고 가라

In [62]:
'j' in 'python';

In [65]:
73 in (73123)

TypeError: argument of type 'int' is not iterable

In [68]:
1 not in [1,2,3]

False

In [70]:
pocket = ['paper','cellphone']
card = True

if 'money' in pocket:
    print("택시를 타고가라")
elif card :
    print("택시를 타고가라")
else : 
    print("걸어가라")

택시를 타고가라

In [76]:
coffee = 10
money = True
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee -= 1
    print(f"남은 커피의 양은 {coffee}개 입니다.\n")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break;

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.

커피가 다 떨어졌습니다. 판매를 중지합니다.

In [80]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a :
    print(first + last)

3
7
11

In [82]:
for first, last in a:
    print(first + last)

3
7
11

In [85]:
marks = [90, 25, 67, 45, 80]
if (score in marks)>60 :
    print("합격입니다")
else :
    print("불합격입니다.")

NameError: name 'socre' is not defined

In [89]:
number =0
for mark in marks:
    number = number +1
    if mark >= 60:
        print(f"{number}번째 학생은 합격입니다.")
    else :
        print(f"{number}번째 학생은 불합격입니다")

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다
5번째 학생은 합격입니다.

In [98]:
for i in range(1,11):
    i+=i
    print(i)
    
1+1=2
2+2=4
3+3=6

2
4
6
8
10
12
14
16
18
20

In [97]:
sum=0 #지역변수는 초기화!
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [100]:
a=[1,2,3,4]
[num*3 for num in a]

[3, 6, 9, 12]

### 제어문 for :  리스트에 한번에 담기 가능!

In [158]:
a= [1,2,3,4]

result = [num*3 for num in a if num %2 ==0]
print(result)

[6, 12]

In [159]:
a= [1,2,3,4]

result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

### 제어문 if : 리스트에 한번에 담을 수 가 없다. 값 하나 리턴 가능

In [163]:
a= True
x = 'apple' if a else 'banana'
print(x)

apple

In [161]:
a= True
result = [x= 'apple' if a else 'banana' ]

SyntaxError: invalid syntax (<ipython-input-161-41013b51a9a7>, line 2)

# 자습 _코딩 연습

In [102]:
money = 2000
card = "in pocket"

if money>3000 or card:
    print("택시를 타고 가세요")
else :
    print("걸어가세요")

택시를 타고 가세요

In [113]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    pass
else :
    print("택시를 타고 가세요")

In [114]:
pocket = ['paper','cellphone','money']
if 'money' not in pocket:
    print('택시를 타고가세요')

In [117]:
if 'money' in pocket:pass 
else:print("카드를 꺼내라")

In [122]:
a= [(1,2),(3,4),(5,6)]
a[1][0]

for first, last in a:
    print(first, last)

1 2
3 4
5 6

In [127]:
a=[1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [129]:
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [134]:
result = [num*3 for num in a if num %2 ==0]
print(result)

[6, 12]

In [138]:
condition = True
x=1 if condition else 0
print(x)

1

In [140]:
condition = False
x=1 if condition else 0
print(x)

0

In [142]:
condition = False
x=1 if condition else x=0
print(x)

SyntaxError: can't assign to conditional expression (<ipython-input-142-58b4c0d66298>, line 2)

In [144]:
condition = False
x=1 if condition else b=0
print(x)

SyntaxError: can't assign to conditional expression (<ipython-input-144-612d608b3afc>, line 2)

In [150]:
print(pocket)
print("돈이 있다.") if 'money' in pocket else print("카드를 꺼내라")

['paper', 'cellphone', 'money']
돈이 있다.

In [151]:
result = [num*3 for num in a if num %2 ==0]
print(result)

[6, 12]

In [154]:
result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [155]:
marks = [90,25,67,45,80]
number=0
for mark in marks:
    number = number+1
    if mark <60: continue
    print(f"축하합니다. {number}번째 학생은 합격입니다.")

축하합니다. 1번째 학생은 합격입니다.
축하합니다. 3번째 학생은 합격입니다.
축하합니다. 5번째 학생은 합격입니다.