# 내장함수

### abs

In [164]:
abs(-3)

3

### any , all

In [181]:
all([1,2,3])
all([12,3,0])

False

In [184]:
any([1,2,3,4])==any([1,2,3,0])

True

### dir

In [188]:
import pandas as pd
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

### enumertate

In [189]:
for i,name in enumerate(['body','foo','bar']):
    print(i,name)

0 body
1 foo
2 bar

### eval

In [190]:
eval("1+2+3+4")

10

### filter  :  객체로 저장해놓는다. 
#### filter, id, int

In [191]:
def positive(numberList):
    result=[]
    for num in numberList:
        if num >0:
            result.append(num)
    return result

positive([1,2,3,-5,-6,-7,8])

[1, 2, 3, 8]

#### 객체가 받은 value 표현 : list로 담기 ~ 대부분

In [211]:
def positive2(x):
    return x>0

a=filter(positive2,[1,2,3,-5,-6,-7,8])
print(list(a))

print(a)
print(id(a))
print(int('0x000001EBB7B63508',16))

[1, 2, 3, 8]
<filter object at 0x000001EBB77806C8>
2111907038920
2111911113992

In [207]:
dir(a)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### lambda

In [160]:
sum = lambda a,b:a+b
sum(3,4)

7

In [161]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
myList

In [163]:
myList[0](3,4)
myList[1](3,4)

12

### map

In [213]:
def two_times(numberList):
    result=[]
    for number in numberList:
        result.append(number*2)
    return result
result= two_times([1,2,3,4])
result

[2, 4, 6, 8]

In [216]:
print(map(two_times,[1,2,3,4]))
list(map(two_times,[1,2,3,4]))

<map object at 0x000001EBB777AE88>

TypeError: 'int' object is not iterable

In [218]:
two_times2=lambda x: x*2
print(map(two_times2,[1,2,3,4]))
list(map(two_times2,[1,2,3,4]))

<map object at 0x000001EBB7753948>

[2, 4, 6, 8]

### open

In [226]:
f= open("test.txt","r")
list(f)

['safasfasfsadgvcxvzxcv']

### zip

In [228]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

# 외장함수

In [229]:
import sys
sys.path

['c:\\py_data',
 'C:\\Users\\student\\Anaconda3\\python37.zip',
 'C:\\Users\\student\\Anaconda3\\DLLs',
 'C:\\Users\\student\\Anaconda3\\lib',
 'C:\\Users\\student\\Anaconda3',
 '',
 'C:\\Users\\student\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\student\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\student\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\student\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\student\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\student\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\student\\.ipython']

In [10]:
import glob

In [11]:
glob.glob("c:\py_data/*")

['c:\\py_data\\day01_python basic.ipynb',
 'c:\\py_data\\day02_python기본문법_자료형.ipynb',
 'c:\\py_data\\day03_튜플,딕셔너리, 제어문.ipynb',
 'c:\\py_data\\day04 function, 입출력, 객체.ipynb',
 'c:\\py_data\\day05 instance, __init__, self, inherit.ipynb',
 'c:\\py_data\\day05 모듈.ipynb',
 'c:\\py_data\\day06.ipynb',
 'c:\\py_data\\__pycache__',
 'c:\\py_data\\연습장.ipynb']

In [12]:
import time
time.time()

1578879076.0866003

# 정규표현식 : 문자열 처리

In [14]:
data = """
BAE 930815-1168511
HAK 650519-2074413"""
data

'\nBAE 930815-1168511\nHAK 650519-2074413'

In [243]:
data = """
BAE 930815-1168511
HAK 650519-2074413"""

print(data.split('\n'))

result = [] 
for line in data.split('\n'):
    word_result=[]
    for word in line.split(" "):
        if len(word)==14 and word[:6].isdigit() and word[7:].isdigit():
            word=word[:6]+"-"+"*******"
        word_result.append(word)
    result.append(" ".join(word_result))

print(result)
print("\n".join(result))

['', 'BAE 930815-1168511', 'HAK 650519-2074413']
['', 'BAE 930815-*******', 'HAK 650519-*******']

BAE 930815-*******
HAK 650519-*******

In [247]:
import re
data = """
park 800905-1049118
kim 700905-1059119
"""

pat=re.compile("(\d{6})[-]\d{7}")  #문자열 패턴지정, \d : 숫자 , {6} : 6글자 반복 \d{}숫자인 문자로 반복
                                   #                []:문자
print(pat.sub("\g<1>-*******",data))  # sub. 변경 , \g시작을 나타내는 단어

park 800905-*******
kim 700905-*******

In [32]:
import re
data = """
park 800905-1049118
kim 700905-1059119
"""

pat=re.compile("(\d{6})[-]\d{7}") 
print(pat)

print(pat.sub("\g<1>-*******",data))

re.compile('(\\d{6})[-]\\d{7}')

park 800905-*******
kim 700905-*******

# 데이터분석 교재 P.214 (Numpy)

In [34]:
import numpy as np

In [400]:
import sys
data4 = range(1,1001)
a4 = np.array(data4)
a5=a4.reshape(10,100)

print(sys.getsizeof(data4))
print(sys.getsizeof(a4))
print(sys.getsizeof(a5))

48
4096
112

In [398]:
data3 = [1,400,50,9000904,21211,1314879433154,'454656321']
a3 = np.array(data3)

print(sys.getsizeof(data3))
print(sys.getsizeof(a3))
print("-"*20)
print(id(data3[0]))
print(id(data3[1]))
print(id(data3[2]))
print(id(data3[3]))
print(id(data3[4]))
print(id(data3[5]))
print(id(data3[6]))
print("-"*20)
print(id(a3[0]))
print(id(a3[1]))
print(id(a3[2]))
print(id(a3[3]))
print(id(a3[4]))
print(id(a3[5]))
print(id(a3[6]))

120
684
--------------------
140714690453904
2111911340528
140714690455472
2111906910064
2111911338928
2111906909616
2111911167728
--------------------
2111915352592
2111915352592
2111915352592
2111915352592
2111915352592
2111915353552
2111915353552

In [248]:
data1 = [0,1,2,3,4,5]
a1 = np.array(data1)
a1

array([0, 1, 2, 3, 4, 5])

In [39]:
a1.dtype  #내부적인 타입 _ 일반 파이썬보다 더 정규하게 함.

dtype('int32')

In [37]:
data2 = [01.,5,4,12,0.5]
a2 = np.array(data2)
a2

array([ 1. ,  5. ,  4. , 12. ,  0.5])

In [41]:
a2.dtype  #데이터 타입을 일치시킨다.

dtype('float64')

In [43]:
range(0,10)

range(0, 10)

In [45]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [55]:
b1 = np.arange(12).reshape(4,3)
b1
b1.shape

(4, 3)

In [58]:
c1=np.zeros(10)
c1.dtype

dtype('float64')

In [60]:
num_f1 =np.array([10,21,0.549,4.75,5.98])
num_f1 =num_f1.astype(int)
num_f1

array([10, 21,  0,  4,  5])

In [64]:
test=[0,10,20,30,40,50]
test2=test.reshpae(3,2)

AttributeError: 'list' object has no attribute 'reshpae'

In [76]:
test= np.array([0,10,20,30,40,50])
test2=test.reshape(3,2)
print(test2)
test2[0,1]  #행렬구조 라는 점에서 다르다.  ~  리스트 : test2[0][1]

[[ 0 10]
 [20 30]
 [40 50]]

10

In [79]:
a2=np.arange(10,100,10).reshape(3,3)
a2

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [81]:
print(a2[2,2])
a2[2,2]=95
a2

90

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 95]])

In [83]:
a2[1]

array([40, 50, 60])

In [85]:
a2[1] = np.array([45,55,65])  
a2

array([[10, 20, 30],
       [45, 55, 65],
       [70, 80, 95]])

In [89]:
print(a2)
a2[0,0]
a2[2,1]

[[10 20 30]
 [45 55 65]
 [70 80 95]]

80

In [90]:
a2[[0,0],[2,1]]

array([30, 20])

In [91]:
a2[[0,2],[0,1]]

array([10, 80])

In [93]:
a = np.array([1,2,3,4,5,6])
a>3

array([False, False, False,  True,  True,  True])

In [95]:
a[a>3]  # R이랑 똑같다. _ TURE인 것만 리턴받고 싶을 때
        # PYTHON : FILTER 함수 적용

array([4, 5, 6])

In [100]:
b1=np.array([0,10,20,30,40,50])
b1
b1[1:4]

array([10, 20, 30])

In [103]:
b1[:4]

array([ 0, 10, 20, 30])

In [105]:
b1[2:]

array([20, 30, 40, 50])

In [108]:
b1[2:5]=np.array([25,35,45])
b1

array([ 0, 10, 25, 35, 45, 50])

## *차원을 갖는 ndarray 에서

In [111]:
b2=np.arange(10,100,10).reshape(3,3)
b2

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [113]:
b2[1:3,1:3]

array([[50, 60],
       [80, 90]])

In [116]:
b2[1][0:2]

array([40, 50])

In [118]:
b2[0:2,1:3]

array([[20, 30],
       [50, 60]])

In [121]:
b2[0:2,1:3] = np.array([[25,35],[55,65]])
b2

array([[10, 25, 35],
       [40, 55, 65],
       [70, 80, 90]])

In [123]:
b2[[0,1],[0,1]]  #인덱싱과 대입은 다르다.

array([10, 55])

# 판다스

In [150]:
import pandas as pd

In [126]:
seq_data=[10,20,30,40,50]  #시간의 흐름에 따라 10 > 50 까지 증가한다고 해보자 _ 우선 리스트로 담는다.
seq_data

[10, 20, 30, 40, 50]

In [128]:
s1 = pd.Series(seq_data) #Series ~ 생성자함수 , seq_data를 인수로 전달
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [136]:
s1.index    #타입 : RangeIndex 객체타입

RangeIndex(start=0, stop=5, step=1)

In [138]:
list(s1.index)

[0, 1, 2, 3, 4]

In [139]:
s1.values

array([10, 20, 30, 40, 50], dtype=int64)

In [140]:
list(s1.values)

[10, 20, 30, 40, 50]

In [130]:
np.array(seq_data) #ndarry

array([10, 20, 30, 40, 50])

In [133]:
s2 = pd.Series([1,True,'a','4.5'])
s2
#dtype: object

0       1
1    True
2       a
3     4.5
dtype: object

In [151]:
index_sq=['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-05']
s3 = pd.Series(seq_data, index=index_sq)
s3

2020-01-01    10
2020-01-02    20
2020-01-03    30
2020-01-04    40
2020-01-05    50
dtype: int64

In [158]:
index_sq2=pd.date_range(start="2020-01-03", end="2020-01-07")
s4 = pd.Series(seq_data, index=index_sq2)
s4

2020-01-03    10
2020-01-04    20
2020-01-05    30
2020-01-06    40
2020-01-07    50
Freq: D, dtype: int64

In [159]:
index_sq2=pd.date_range(start="2020-01-03", end="2020-01-11",freq='2D')
s4 = pd.Series(seq_data, index=index_sq2)
s4

2020-01-03    10
2020-01-05    20
2020-01-07    30
2020-01-09    40
2020-01-11    50
Freq: 2D, dtype: int64

In [155]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [156]:
fdata =pd.read_csv("data/word_count.csv")
fdata

      단어    빈도
0   산업혁명  1662
1     기술  1223
2     사업  1126
3     혁신  1084
4     경제  1000
5     한국   945
6     기업   909
7     교육   883
8     미래   746
9     지역   724
10   스마트   663
11    정부   633
12    세계   553
13    서울   544
14    센터   534
15    대학   472
16    투자   449
17    개발   447
18    시장   442
19    성장   441
20   일자리   425
21    창업   412
22    발전   391
23    지능   389
24    전략   382
25    융합   333
26    규제   324
27  과학기술   322
28  인공지능   299
29  벤처기업   278
30    미국   256
31   자동차   248
32    업무   226
33    청년   221
34    문화   220
35    자율   214
36    연구   213
37    확대   212
38    진흥   210
39    국제   209
40    로봇   203
41    금융   192
42  빅데이터   191
43   플랫폼   179
44   데이터   177
45   디지털   177
46    국민    17
47    과학   168
48  블록체인   164