In [5]:
class Calculator:
    def __init__(self):
        self.result = 0
    
    def adder(self, num):
        self.result += num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()

In [8]:
cal1.adder(1)
cal1.adder(3)

5

In [4]:
import pandas as pd
import numpy as np
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [13]:
range(1,26)

range(1, 26)

In [14]:
np.arange(25)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [52]:
testdf=pd.DataFrame(np.arange(25).reshape(5,5), index= ['a','b','c','d','e'],columns=['c1','c2','c3','c4','c5'])
testdf

   c1  c2  c3  c4  c5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [46]:
testdf=pd.DataFrame(np.arange(25).reshape(5,5), index= ['a','b','c','d','e'],columns=['c1','c2','c3','c4','c5'])
testdf.iterrows()

In [47]:
for a,b in testdf.iterrows():
    print(a)
    print('-'*30)
    print(b)
    print('\n')

a
------------------------------
c1    0
c2    1
c3    2
c4    3
c5    4
Name: a, dtype: int32


b
------------------------------
c1    5
c2    6
c3    7
c4    8
c5    9
Name: b, dtype: int32


c
------------------------------
c1    10
c2    11
c3    12
c4    13
c5    14
Name: c, dtype: int32


d
------------------------------
c1    15
c2    16
c3    17
c4    18
c5    19
Name: d, dtype: int32


e
------------------------------
c1    20
c2    21
c3    22
c4    23
c5    24
Name: e, dtype: int32

In [53]:
testdf

   c1  c2  c3  c4  c5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [54]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

testdf=pd.DataFrame(np.arange(25).reshape(5,5), index= ['a','b','c','d','e'],columns=['c1','c2','c3','c4','c5'])
testdf.iterrows()

label = []
data = []
attr_list = []
for row_index, row in testdf.iterrows():
    label.append(row.ix[0])
    row_data = []
    for v in row.ix[1:]:
        row_data.append(v)
    data.append(row_data)
    
data_train, data_test, label_train, label_test = \
tt=train_test_split(data, label)

tt

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':
C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

[[[1, 2, 3, 4], [6, 7, 8, 9], [21, 22, 23, 24]],
 [[11, 12, 13, 14], [16, 17, 18, 19]],
 [0, 5, 20],
 [10, 15]]

In [63]:
print(label)
print(data,'\n')

print(tt)
print(type(tt),'\n')

print(data_train)
print(data_test)

[0, 5, 10, 15, 20]
[[1, 2, 3, 4], [6, 7, 8, 9], [11, 12, 13, 14], [16, 17, 18, 19], [21, 22, 23, 24]]

[[[1, 2, 3, 4], [6, 7, 8, 9], [21, 22, 23, 24]], [[11, 12, 13, 14], [16, 17, 18, 19]], [0, 5, 20], [10, 15]]
<class 'list'>

[[1, 2, 3, 4], [6, 7, 8, 9], [21, 22, 23, 24]]
[[11, 12, 13, 14], [16, 17, 18, 19]]

In [64]:
data_train, data_test, label_train, label_test = \

SyntaxError: unexpected EOF while parsing (<ipython-input-64-d9f167677e0e>, line 1)