# 인덱싱

In [15]:
import pandas as pd
s1=pd.Series([10,20,30,40,50])
s1[2]
s1[[0,2]]   # [[]] : numpy 지원 안했던 것!!!
s1[s1>30]

3    40
4    50
dtype: int64

In [18]:
from pandas import Series, DataFrame

In [23]:
obj2=Series([4,7,-3,2],index=['d','e','a','c'])

obj2['d']   #논리적인 인덱스

4

In [24]:
obj2[0]   #리스트 offset 개념 또한 적용된다. 숫자 : 물리적인 index

4

In [26]:
obj2>0

d     True
e     True
a    False
c     True
dtype: bool

In [29]:
obj2[obj2>0]          #filter함수 적용한 다음에 리스트로 담아서 출력할 필요가 없다.
                      #numpy도 마찬가지 _ pandas : numpy기반으로 해서 업글했기 때문

d    4
e    7
c    2
dtype: int64

In [32]:
dic_data={'국어':100, "수학":85, "과학":90}
dic_data

{'국어': 100, '수학': 85, '과학': 90}

In [34]:
obj3=Series(dic_data)
obj3

국어    100
수학     85
과학     90
dtype: int64

In [36]:
'국어' in obj3    #딕셔너리 문법 적용

True

In [38]:
obj3['국어']

100

In [43]:
data = {
    'state':['ohio','ohio','ohio','nebada','nebada'],
    'year':[2000,2001,2002,2001,2002],
    'pop':[1.5, 1.7, 3.6, 2.4, 2.9]   
       }
type(data)
data

{'state': ['ohio', 'ohio', 'ohio', 'nebada', 'nebada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [61]:
frame = DataFrame(data)  #{key:value} ~ 2차원 데이터 자료 : 통계적 자료접근이 기본적!! (컬럼단위)
print(frame)
print("-"*30)
print(frame['state'])
print("-"*30)
print(frame.state)
print("-"*30)

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nebada  2001  2.4
4  nebada  2002  2.9
------------------------------
0      ohio
1      ohio
2      ohio
3    nebada
4    nebada
Name: state, dtype: object
------------------------------
0      ohio
1      ohio
2      ohio
3    nebada
4    nebada
Name: state, dtype: object
------------------------------

In [62]:
#기존 행단위로 접근은 이제 아니다
frame[0]

KeyError: 0

In [64]:
frame.describe()   #문자열 제거하고 간단한 통계_ 컬럼단위

             year       pop
count     5.00000  5.000000
mean   2001.20000  2.420000
std       0.83666  0.864292
min    2000.00000  1.500000
25%    2001.00000  1.700000
50%    2001.00000  2.400000
75%    2002.00000  2.900000
max    2002.00000  3.600000

In [67]:
'''
2차원 데이터_ 그리고
통계분석은 원래 컬럼단위다.

그렇다면_ 행단위는?
=> 별도 함수적용해서 접근한다(비권장사항)'''
print(frame)
frame.ix[0]  #가로로 보았을 때는 object타입으로 본다. ->object로 리턴

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nebada  2001  2.4
4  nebada  2002  2.9

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

state    ohio
year     2000
pop       1.5
Name: 0, dtype: object

In [73]:
frame.index=['one','two','three','four','five']
frame.ix['one']

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

state    ohio
year     2000
pop       1.5
Name: one, dtype: object

In [76]:
frame.loc['one']

state    ohio
year     2000
pop       1.5
Name: one, dtype: object

In [50]:
frmae2=Series(['ohio','ohio','ohio','nebada','nebada'])
frmae2

0      ohio
1      ohio
2      ohio
3    nebada
4    nebada
dtype: object

In [55]:
frmae3=DataFrame(['ohio','ohio','ohio','nebada','nebada'])
frmae3

        0
0    ohio
1    ohio
2    ohio
3  nebada
4  nebada

# 열/행 삭제

In [89]:
testdf = frame.copy()  #얕은 복사 : View를 통한 원본보존
testdf.drop('one')
testdf.drop(['two','three'])
testdf.drop('state', axis=1)         # 1 : 열 제거 ,   0 : 행   ~ 시스템상 기본적으로 
testdf.drop(['state','pop'], axis=1)

       year
one    2000
two    2001
three  2002
four   2001
five   2002

In [83]:
testdf2 = frame   #강한 복사 : 원본에 대해 같은 포인터(testdf2, frame) _ 서로 영향을 준다.

In [106]:
testdf['two':'three']   #연속적인 '행' 인덱싱 ~연속적일 때 loc 생략가능!

      state  year  pop
two    ohio  2001  1.7
three  ohio  2002  3.6

In [107]:
testdf.loc['two':'three'] #연속적인 '행' 인덱싱

      state  year  pop
two    ohio  2001  1.7
three  ohio  2002  3.6

In [98]:
testdf['one']

KeyError: 'one'

In [99]:
testdf.loc['one']

state    ohio
year     2000
pop       1.5
Name: one, dtype: object

In [104]:
testdf.loc[['one','three','five']]  #[[ ]]

        state  year  pop
one      ohio  2000  1.5
three    ohio  2002  3.6
five   nebada  2002  2.9

In [95]:
testdf['state']

one        ohio
two        ohio
three      ohio
four     nebada
five     nebada
Name: state, dtype: object

In [114]:
testdf.loc[testdf.pop<2.5]

TypeError: '<' not supported between instances of 'method' and 'float'